---
import RectButton from "@components/RectButton.astro";
import ArrowUpToLine from "@lucide/astro/icons/arrow-up-to-line";
---

<script>
  if (typeof window !== "undefined") {
    window.addEventListener("DOMContentLoaded", () => {
      const btn = document.getElementById("back-to-top");
      if (btn) {
        btn.addEventListener("click", () => {
          window.scrollTo({ top: 0, behavior: "smooth" });
        });
      }
    });
  }
</script>

<RectButton id="back-to-top" class="flex-nowrap gap-2">
  <ArrowUpToLine class="size-4" />
  <div class="text-sm">Back to top</div>
</RectButton>

<style>
  html #back-to-top {
    @apply pointer-events-none opacity-0;
  }

  html.scrolled #back-to-top {
    @apply pointer-events-auto opacity-100;
  }
</style>
