---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
import BackToTop from "@components/BackToTop.astro";
import MoonStar from "@lucide/astro/icons/moon-star";
import Sun from "@lucide/astro/icons/sun";
import MonitorCog from "@lucide/astro/icons/monitor-cog";
import Link from "@components/Link.astro";
---

<footer>
  <Container>
    <div class="relative">
      <div class="absolute -top-12 right-0">
        <BackToTop />
      </div>
    </div>
    <div class="flex items-center justify-between">
      <div>
        &copy; {new Date().getFullYear()} Masato Arnold | <Link
          href="./legal/copyright">Licensed under the EUPL</Link
        >
      </div>
      <div class="flex flex-wrap items-center gap-1.5">
        <button
          id="light-theme-button"
          aria-label="Light theme"
          class="group flex size-9 items-center justify-center rounded-sm border border-black/15 hover:bg-black/5 focus-visible:bg-black/5 dark:border-white/20 dark:hover:bg-white/5 dark:focus-visible:bg-white/5"
        >
          <Sun class="h-4" />
          <button
            id="dark-theme-button"
            aria-label="Dark theme"
            class="group flex size-9 items-center justify-center rounded-sm border border-black/15 hover:bg-black/5 focus-visible:bg-black/5 dark:border-white/20 dark:hover:bg-white/5 dark:focus-visible:bg-white/5"
          >
            <MoonStar class="h-4" />
            <button
              id="system-theme-button"
              aria-label="System theme"
              class="group flex size-9 items-center justify-center rounded-sm border border-black/15 hover:bg-black/5 focus-visible:bg-black/5 dark:border-white/20 dark:hover:bg-white/5 dark:focus-visible:bg-white/5"
            >
              <MonitorCog class="h-4" />
            </button>
          </button>
        </button>
      </div>
    </div>
  </Container>
</footer>
