---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import Search from "@lucide/astro/icons/search";

import { SITE } from "@consts";
---

<header transition:persist>
  <Container>
    <div class="flex flex-wrap items-center justify-between gap-y-2">
      <Link href="/" underline={false}>
        <div class="font-semibold">
          {SITE.TITLE}&nbsp;🌱
        </div>
      </Link>
      <nav class="flex items-center gap-1 text-sm">
        <Link href="/blog">Blog</Link> /
        <Link href="/projects">Projects</Link> /
        <button
          id="magnifying-glass"
          aria-label="Search"
          class="flex cursor-pointer items-center gap-1 text-sm underline transition-colors duration-300 ease-in-out hover:text-black focus-visible:text-black dark:hover:text-white dark:focus-visible:text-white"
        >
          Search
          <Search class="size-3" />
        </button>
      </nav>
    </div>
  </Container>
</header>
