---
const { prevPost, nextPost } = Astro.props;

import RectButton from "@components/RectButton.astro";

import ChevronRight from "@lucide/astro/icons/chevron-right";
import ChevronLeft from "@lucide/astro/icons/chevron-left";
---

<div class="grid grid-cols-2 gap-1.5 sm:gap-3">
  {
    prevPost?.id ? (
      <RectButton
        href={`/blog/${prevPost?.id}`}
        class="h-fit rounded-lg no-underline"
      >
        <ChevronLeft class="size-5 shrink-0" />
        <div class="flex items-center p-4 text-sm">{prevPost?.data.title}</div>
      </RectButton>
    ) : (
      <div class="invisible" />
    )
  }

  {
    nextPost?.id ? (
      <RectButton
        href={`/blog/${nextPost?.id}`}
        class="h-fit rounded-lg no-underline"
      >
        <div class="flex items-center p-4 text-sm">{nextPost?.data.title}</div>
        <ChevronRight class="size-5 shrink-0" />
      </RectButton>
    ) : (
      <div class="invisible" />
    )
  }
</div>
